/**{
  border: 1px solid red;
}*/

.retina{
	width: 240px;
	height: 50px;
}

.title {
	font-family: 'Alegreya Sans SC', sans-serif;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.card {
  background-color: rgba(0,0,0, 0.7) !important;
  color: white;
  border: 3px solid #F4BA59;
  box-shadow: 14px 21px 41px -72px rgba(245,187,41,1);
}

.card:hover {
	box-shadow: 10px 10px 20px -5px rgba(92,89,92,1);
	transform: translate3D(0,-1px,0) scale(1.03);
}

.wrapper, img{
	background-color: transparent !important;
	border-color: transparent !important;
}

.img{
    height: 10rem;
    position: absolute;
    top: -70px;
    bottom: 100px; /* bottom height */
    left: 50%; /* position element 50% from left side */
    margin-left: -421px; /* bring it back left half the image size */
}

.img-history{
    height: 6rem;
    position: absolute;
    top: -50px;
    bottom: 100px; /* bottom height */
    left: 87%; /* position element 50% from left side */
    margin-left: -421px; /* bring it back left half the image size */
}

/*for mobile*/
@media screen and (min-width: 360px) and (max-width: 667px){
  .index-course{
    max-width: 350px;
  }
  .img{
      height: 6rem;
      position: absolute;
      top: -40px;
      bottom: 100px; /* bottom height */
      left: 150%; /* position element 50% from left side */
      margin-left: -421px; /* bring it back left half the image size */
  }

  .img-history{
      height: 4rem;
      position: absolute;
      top: -30px;
      bottom: 100px; /* bottom height */
      left: 180%; /* position element 50% from left side */
      margin-left: -421px; /* bring it back left half the image size */
  }
}
/*ipad*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .index-course {
    max-width: 200px;
  }

  .img{
      height: 8rem;
      position: absolute;
      top: -50px;
      bottom: 100px; /* bottom height */
      left: 80%; /* position element 50% from left side */
      margin-left: -421px; /* bring it back left half the image size */
  }

  .img-history{
      height: 3rem;
      position: absolute;
      top: -50px;
      bottom: 100px; /* bottom height */
      left: 87%; /* position element 50% from left side */
      margin-left: -421px; /* bring it back left half the image size */
  }

}
